<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
		  
		  <beans>
		  
		  <bean id="e1" class="beans.Engine">
		  <property name="modelyear" value="2013"></property>
		  </bean>
		  
		  <bean id="e2" class="beans.Engine">
		  <property name="modelyear" value="2014"></property>
		  </bean>
		  
		  <bean id="e3" class="beans.Engine">
		  <property name="modelyear" value="2015"></property>
		  </bean>
		  
		<bean  id="c" class="beans.car">
		<property name="carnames">
		<list>
		  <value>Audi</value>
		  <value>Benz</value>
		  <value>Honda</value>
		  </list>
		</property>
		
		<property name="engine">
		<list>
		<ref bean="e1"></ref>
		<ref bean="e2"></ref>
		<ref bean ="e3"></ref>
		</list>
		
		</property>
		</bean>
		  </beans>